@middle: 10px;
@small: 8px;
.gap-left {
  margin-left: @middle;
}
.gap-top {
  margin-top: @middle;
}
.gap-right {
  margin-right: @middle;
}
.gap-bottom {
  margin-bottom: @middle;
}

.gap-left-small {
  margin-left: @small;
}
.gap-top-small {
  margin-top: @small;
}
.gap-right-small {
  margin-right: @small;
}
.gap-bottom-small {
  margin-bottom: @small;
}
